.time-blk {
    @include center;
    height: 100vh;
    width: 1080px;
    .time-title h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #222222;
    }
    .time-tab {
        position: relative;
        display: flex;
        align-items: center;
        label {
            display: block;
            text-align: center;
            width: 166px;
            height: 46px;
            background: rgba(196, 196, 196, 0.7);
            @include border_r;
            font-size: 16px;
            line-height: 46px;
            color: #fff;
            cursor: pointer;
            margin-right: 5px;
        }
        input:checked ~ label {
            background: linear-gradient(0deg, #ffffff, #ffffff), #c4c4c4;
            color: #222222;
        }

        .search-blk {
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            h1 {
                font-size: 16px;
                line-height: 36px;
                color: #aaaaaa;
                margin-right: 10px;
            }
            input {
                @include border_r;
                border: none;
                width: 200px;
                height: 36px;
                margin-right: 10px;
            }
            div {
                @include border_r;
                width: 120px;
                height: 36px;
                background: #666666;
                font-weight: 500;
                font-size: 16px;
                line-height: 36px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
    .time-list {
        background-color: #fff;
        // position: relative;
        padding: 35px;
        .btn-wrapper {
            position: relative;
            margin-bottom: 20px;
            height: 36px;
        }

        .btn {
            width: 120px;
            height: 36px;
            background: #666666;
            font-weight: 500;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            color: #ffffff;
            @include border_r;
            position: absolute;
            right: 0;
        }
        table {
            width: 100%;
            th {
                font-size: 16px;
                line-height: 32px;
                text-align: center;
                color: #666666;
                height: 50px;
            }
            tr:nth-child(2n) {
                background: rgba(221, 221, 221, 0.3);
            }
            .td td {
                font-size: 14px;
                line-height: 32px;
                text-align: center;
                color: #aaaaaa;
                padding: 0;
                height: 50px;
                &:first-child {
                    color: #555555;
                }
            }
        }
    }
}
